<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.webServer>
    <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
   <files>      
       <clear/>     <!-- removes the existing default document list -->                
       <add value="Default.aspx"/>     <!-- is now the default document  -->                
    
   </files>
</defaultDocument>
  </system.webServer>
 <system.web>
    <urlMappings enabled="true">
        <add url="~/" mappedUrl="~/Default.aspx" />
    </urlMappings>
    <authorization>
        <allow roles="admin"/>
        <deny users="*" />
    </authorization>
</system.web>
<location path="Default.aspx">
    <system.web>
        <authorization>
            <allow users="*" />
        </authorization>
    </system.web>
</location>

</configuration>
